@model IEnumerable<AtmProject_Core.Models.Transactions>



<h1 style="text-align:center;color:green;">Mini Statement</h1>
<hr />
<br />
<br />


<div>
    <table class="table" style="margin:auto;width:40%" width="50%">
        <thead>
            <tr>

               
              
                <th>
                    @Html.DisplayNameFor(model => model.DateOfTransaction)
                </th>
              
               
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableBalance)
                </th>
             
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                  
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfTransaction)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailableBalance)
                    </td>
                  

                </tr>
            }
        </tbody>
    </table>

</div>
